.row {
    border: 1px solid grey;
    margin: 5px;
    background: white;
}

.col {
    /* border: 1px solid grey; */
    /* margin: 5px !important; */
}

button {
    border: none !important;
    padding: 0 0 0 0 !important;
}

body {
    background-image: url("/assets/images/white-waves.png") !important;
}